name: "Build and Deploy"

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  bump_version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version_bump.outputs.newTag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: "Automated Version Bump"
        uses: "phips28/gh-action-bump-version@master"
        id: version_bump
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PACKAGEJSON_DIR: client

  build_push_nginx:
    runs-on: ubuntu-latest
    needs: bump_version
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: "Azure Login"
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_REGISTRY }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build And Push Frontend Image - Test Namespace
        uses: docker/build-push-action@v5
        with:
          context: ./client
          push: true
          tags: ${{ secrets.ACR_REGISTRY }}/${{PLACEHOLDER}}/client:dev-${{ needs.bump_version.outputs.version }}

  build_push_api:
    runs-on: ubuntu-latest
    needs: [bump_version]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: "Azure Login"
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_REGISTRY }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build And Push API Image
        uses: docker/build-push-action@v5
        with:
          context: ./server
          push: true
          tags: ${{ secrets.ACR_REGISTRY }}/${{PLACEHOLDER}}/server:dev-${{ needs.bump_version.outputs.version }}
